<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Bienvenidos a DemenciApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, {{ userName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>¿Qué te gustaría hacer hoy?</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item button (click)="navigateTo('profile')">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-item>
    <ion-item button (click)="navigateTo('assistant')">
      <ion-icon name="chatbubbles" slot="start"></ion-icon>
      <ion-label>Resuelve tus dudas aquí</ion-label>
    </ion-item>
    <ion-item button (click)="navigateTo('patientdata')">
      <ion-icon name="stats-chart" slot="start"></ion-icon>
      <ion-label>Información de {{ patientName }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
